body {
    background-image: url("../images/background5.jpg");

}

h1 {
    font-size: 70px;   
    text-align: center;
    color: #7FFF00;
}


.userButton {    
    font-size: 16px;    
    padding: 5px;
    margin: 10px;
    background: #00FA9A;
    color: #FF1493;
}

.flex-container {
     width: 95%;
    margin: 15px auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
   
}

h3 {
    text-align: center;
    color: #7FFF00;
}

.flex-row {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.gif-card {
    position: relative;
    width: 250px;
    height: 240px;
    margin: 15px;
    background: #000000;
    border-radius: 5px;
}


.gif-card-footer {
    position: absolute;
    bottom: 0;
    font-size: 16px;
    line-height: 130%;
    margin: 10px;
    color: #FF0000;
}


.gif-card img {
    width: 240px;
    max-height: 200px;
    margin: 10px auto;
    border-radius: 5px;
    display: block;
}